<div class="background logos">
    <div>
        <a href="#">
            <img matTooltip="Главная" [matTooltipPosition]="'right'" src="/assets/images/icons/home-outline.svg" alt="home">
        </a>
        <div>
            <ul class="navbar-nav ml-auto">
                <li>
                    <a id="navbarDropdown" type="button" (click)="goClients()">
                        <img matTooltip="Начать работу на КПП" [matTooltipPosition]="'right'" src="assets/images/icons/people-circle-outline.svg">
                    </a>
                </li>
              <li>
                <a id="navbarDropdown6" type="button" (click)="goCountry()">
                  <img matTooltip="Справка о странах" [matTooltipPosition]="'right'" src="assets/images/icons/country.svg">
                </a>
              </li>
              <li>
                <a id="navbarDropdown2" type="button" (click)="goJobs()">
                  <img matTooltip="Список вакансий" [matTooltipPosition]="'right'" src="assets/images/icons/work.svg">
                </a>
              </li>
              <li>
                <a id="navbarDropdown3" type="button" (click)="goLuggage()">
                  <img matTooltip="Категории багажа" [matTooltipPosition]="'right'" src="assets/images/icons/luggage.svg">
                </a>
              </li>
              <li>
                <a id="navbarDropdown4" type="button" (click)="goCriminal()">
                  <img matTooltip="Их разыскивает полиция" [matTooltipPosition]="'right'" src="assets/images/icons/police.svg">
                </a>
              </li>
              <li>
                <a id="navbarDropdown5" type="button" (click)="goReminder()">
                  <img matTooltip="Памятка пограничника" [matTooltipPosition]="'right'" src="assets/images/icons/security.svg">
                </a>
              </li>
            </ul>
        </div>
    </div>
</div>
