<h1 class="text-center">Памятка пограничника</h1>
<br/>
<ng-container>
  <h1>Приветствуем на службе!</h1>
  <div>Уважаемый работник, просим вас относиться к своим обязанностям со всей ответственностью! Судьба нашей страны и её жителей зависит от вас.</div>
  <div>Чтобы начать работу, перейдите на вкладку "Начать работу на КПП". Это ваше основное рабочее место. Здесь будет выводиться текущая заявка на въезд, которая требует рассмотрения.
    Перед началом работы не забудьте ознакомиться с инструкциями на главной странице - они обновляются ежедневно и могут существенно повлиять на рабочий процесс.</div>
  <div>Для успешного преодоления контроля на КПП въезжающей персоне необходим минимальный набор документов - паспорт и разрешение на въезд.
  В любом документе должны быть указаны фамилия, имя и отчество (при наличии). У всего набора документов эти параметры должны быть одинаковы.
  В паспорте указана основная информация. Внимательно сверьте её с информацией, указанной в заявке.
    В разрешении на въезд указана причина въезда. Внимательно проверьте даты выдачи и срока годности разрешения, их могут выдавать только на ограниченный срок!</div>
  <div>Если в разрешении указан код "work", убедитесь, что гражданин имеет разрешение на работу.
    В разрешении на работу указана компания, пригласившая гражданина. Компании регулярно отправляют нам свой список вакансий. Проверьте, что у компании, указанной в разрешении на работу есть доступная вакансия и количество мест на ней еще не закончилось.</div>

  <div>Гражданин может иметь с собой багаж. На КПП с него снимут мерки и определят категорию, эти данные вы можете увидеть в заявке.
  На багаж (вне зависимости от его категории) у въезжающего должна быть оформлена декларация. Убедитесь, что она заполнена верно.
    Ознакомьтесь со справочником категорий ввозимого багажа. На все категории установлены лимиты веса и объёма, а некоторые запрещено импортировать в любом случае.</div>

  <div>В последнее время в страну стало проникать все больше бежавших ранее преступников. Центральный полицейский участок отправляет нам их список. Убедительная просьба - не пускайте этих граждан в наш дом.</div>

  <h3>Удачи вам сегодня!</h3>

</ng-container>

